* {
  box-sizing: border-box;
}

.el-header {
  padding: 0 !important;
}

.fmcat-child-container {
  padding: 20px;
  overflow-y: auto;
}

.el-table {
  flex: none !important;
}

.el-table__body-wrapper {
  height: 100%;
}


/*滚动条整体样式*/

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}


/*滚动条滑块*/
*::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #535353;

  &:hover {
    background: #888;
  }
}

.el-table__body-wrapper::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #ccc;

  &:hover {
    background: #bbb;
  }
}

/*滚动条轨道*/

*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}

.hljs {
  // padding-left: 20px !important;
  // padding-bottom: 13px !important;
  border-radius: 3px;
}



.detail-content {
  font-size: 14px;
  // line-height: 1.5em;

  h2,
  h4,
  h3,
  p,
  pre {
    margin-bottom: 10px;
  }

  code {
    border-radius: 3px;
    font-size: 12px;
    font-family: SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  }

  p code,
  li code {
    // padding: 0.2em 0.8em;
    // margin: 0;
    // font-size: 85%;
    // background-color: rgba(27, 31, 35, 0.1);
    background-color: #fff5f5;
    color: #ff502c;
    font-size: .87em;
    padding: .065em .4em;
  }

  blockquote {
    color: #666;
    padding: 1px 23px;
    margin: 22px 0;
    border-left: 4px solid #cbcbcb;
    background-color: #f8f8f8;

    p {
      margin: 10px 0;
    }
  }

  a {
    text-decoration: none;
    color: #409EFF;
    transition: color .2s;

    &:hover {
      color: rgba(#409EFF, .8);
    }
  }
  pre{
    line-height: 1.2em;
  }

  p {
    line-height: 1.5em;
    margin: 20px 0;
    img {
      max-width: 100%;
      // display: block;
      display: inline-block;
      margin: 0 auto;
    }
  }
}

.slide-enter,
.slide-leave-to {
  transform: translateY(50px);
  opacity: 0;
}

.slide-leave,
.slide-enter-to {
  transform: translateY(50px);
  opacity: 0;
}

.slide-enter-active {
  animation: slide-in .3s ease-out;
}

.slide-leave-active {
  opacity: 0;
  // animation: slide-out .3s ease-out;
  // position: absolute;
}

.slide-move {
  transition: all .3s;
}

@keyframes slide-in {
  from {
    transform: translateY(50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(50px);
    opacity: 0;
  }
}

.name-input {
  margin-bottom: 10px;

  input {
    text-align: center;
  }
}