* {
  box-sizing: border-box;
}

.el-header {
  padding: 0 !important;
}

.fmcat-child-container {
  padding: 20px;
  overflow-y: auto;
}

.el-table {
  flex: none!important;
}

.el-table__body-wrapper {
  height: 100%;
}
